{% extends '_layouts/site' %}

 {% set query = craft.request.getParam('q') %}

{% block main %}
    <div class="sitePage">
        <div class="image image--fullWidth image--main image--mainDefault">
            <div class="grid grid--contained">
                <div class="image--main grid-row grid-row--middleXxs">
                    <div class="grid-col--xxs12">
                        <h1 class="u-blockText u-blockText--red">{{'Search Results for: '|t ~ query}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid--contained u-contentPadding">
            <div class="grid-row">
                <div class="grid-col--xs8 grid-col--gutterRightTripleSm">                        
                    {% set results = craft.entries({
                        search: query,
                        order: 'score'
                    }) %}
                    {% paginate results as postsNav, posts %}
                    {% for post in posts if post.type != 'timelineComponent' %}
                        {% switch post.section.handle %}
                            {% case 'blog' %}
                                <article class="sitePost sitePost-list">
                                    <h2>{{post.title}}</h2>
                                    <span class="u-bar u-bar--red"></span>
                                    <p class="sitePost-date post-date">{{ post.postDate|date('F d, Y') }}</p>
                                    
                                    {% if post.image %}
                                        <div class="grid-row grid-row--middleXxs">
                                            <div class="grid-col--xxs12 grid-col--sm6">
                                                {% set thumbnail = post.image.first() %}
                                                {% if thumbnail %}
                                                    {{ macros.responsive_image(thumbnail, { transformMode: 'fit' }) }}
                                                {% endif %}
                                            </div>
                                            <div class="grid-col--xxs12 grid-col--sm6">
                                                {% if post.body|length %}
                                                    <p>{{ macros.post_excerpt(post.body) }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if post.body|length %}
                                            <div class="sitePost-body">
                                                <p>{{ macros.post_excerpt(post.body) }}</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <a class="button sitePost-button" href="{{post.url}}">{{'Continue Reading' |t}}</a>
                                </article>

                            {% case 'event' %}
                                <article class="sitePost sitePost-list">
                                    <h2>{{post.title}}</h2>
                                    <span class="u-bar u-bar--red"></span>
                                    <p class="sitePost-date post-date">{{ post.date|date('F d, Y – h:i a') }}</p>
                                    
                                    {% if post.image %}
                                        <div class="grid-row grid-row--middleXxs">
                                            <div class="grid-col--xxs12 grid-col--sm6">
                                                {% set thumbnail = post.image.first() %}
                                                {% if thumbnail %}
                                                    {{ macros.responsive_image(thumbnail, { transformMode: 'fit' }) }}
                                                {% endif %}
                                            </div>
                                            <div class="grid-col--xxs12 grid-col--sm6">
                                                {% if post.body|length %}
                                                    <p>{{ macros.post_excerpt(post.body) }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if post.body|length %}
                                            <div class="sitePost-body">
                                                <p>{{ macros.post_excerpt(post.body) }}</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <a class="button sitePost-button" href="{{post.url}}">{{'Learn More...' |t}}</a>
                                </article>

                            {% case 'mainNavigation' %}
                                <article class="sitePost sitePost-list">
                                    <h2>{{post.title}}</h2>
                                    <span class="u-bar u-bar--red"></span>
                                    {% if post.internalLink | length %}
                                        <a class="button" href="{{ post.internalLink[0].url }}"{% if post.linkNewWindow %} target="_blank"{% endif %}>{{'Check out '|t ~ post.title }}</a>
                                    {% else %}
                                        <a class="button" href="{{ post.externalLink }}"{% if post.linkNewWindow %} target="_blank"{% endif %}>{{'Go to page '|t}}</a>
                                    {% endif %}
                                </article>

                            {% case 'services' %}
                                <article class="sitePost sitePost-list">
                                    <h2>{{post.title}}</h2>
                                    <span class="u-bar u-bar--red"></span>
                                    <a class="button sitePost-button" href="{{url('services')}}">{{'Go to page '|t}}</a>
                                </article>

                            {% default %}
                                <article class="sitePost sitePost-list">
                                    <h2>{{post.title}}</h2>
                                    <span class="u-bar u-bar--red"></span>
                                    <p><a class="button sitePost-button" href="{{post.url}}">{{'Go to page '|t}}</a></p>
                                </article>
                        {% endswitch %}
                    {% endfor %}
                    {% if postsNav.totalPages > 1 %}
                        <div class="pagination">
                            <span><a href="{{ postsNav.firstUrl }}">&lt;</a></span>
                            {% if postsNav.prevUrl %}<span><a href="{{ postsNav.prevUrl }}">&laquo;</a></span>{% endif %}

                            {% for page, url in postsNav.getPrevUrls(5) %}
                                <span><a href="{{ url }}">{{ page }}</a></span>
                            {% endfor %}

                            <span class="current">{{ postsNav.currentPage }}</span>

                            {% for page, url in postsNav.getNextUrls(5) %}
                                 <span><a href="{{ url }}">{{ page }}</a></span>
                            {% endfor %}

                            {% if postsNav.nextUrl %}<a href="{{ postsNav.nextUrl }}">&raquo;</a>{% endif %}
                            <span><a href="{{ postsNav.lastUrl }}">&gt;</a></span>
                        </div>
                    {% endif %}
                </div>
                {% include '_includes/blog/sidebar' %}
            </div>
        </div>
    </div>
{% endblock %}