<nav class="nav row row--middle row--center row--nomargin js-nav">
    <ul class="nav-main col--12">
        <li class="nav-item">
            <a class="{{ macros.is_active('', 1, 'is-active') }}" href="{{siteUrl}}">{{"Work"|t}}</a>
        </li>
        <li class="nav-item">
            <a class="{{ macros.is_active('about', 1, 'is-active') }}" href="{{url('about')}}">{{"About"|t}}</a>
        </li>
        <li class="nav-item">
            <a class="{{ macros.is_active('contact', 1, 'is-active') }}" href="{{url('contact')}}">{{"Contact"|t}}</a>
        </li>
    </ul>
</nav>

<header class="header js-header">
    <div class="logo">
        <a class="logo-svg" href="{{ siteUrl }}"></a>
    </div>
    <div class="navToggle js-navToggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>