{% if posts|length >= 1 %}
    {% for post in posts %}
    	<article class="sitePost sitePost-list">
            <h2 class="sitePost-title"><a href="{{post.url }}">{{post.title}}</a></h2>
            <span class="u-bar u-bar--red"></span>
            <p class="sitePost-date post-date">{{ post.postDate.format('F d, Y') }}</p>

            {% set image = post.image.first() %}
            {% if image %}
                <div class="sitePost-body">
            	   {{ macros.responsive_image(image, { transformMode: 'fit' }) }}
                </div>
            {% endif %}

            {% if post.body|length %}
            	<div class="sitePost-body">
           			<p>{{ macros.post_excerpt(post.body) }}</p>
           		</div>
           	{% endif %}
            <a class="sitePost-button button" href="{{post.url }}">{{'Continue Reading...'|t}}</a>
        </article>
    {% endfor %}
{% else %}
    <article class="sitePost">
        <h2 class="sitePost-title">{{"Sorry!"|t}}</h2>
        <p>{{"No blog posts yet... Check back again soon!"|t}}</p>
    </article>
{% endif %}
{% if postsNav.totalPages > 1 %}
	<div class="pagination">
	    <span><a href="{{ postsNav.firstUrl }}">&lt;</a></span>
		{% if postsNav.prevUrl %}<span><a href="{{ postsNav.prevUrl }}">&laquo;</a></span>{% endif %}

		{% for page, url in postsNav.getPrevUrls(5) %}
		    <span><a href="{{ url }}">{{ page }}</a></span>
		{% endfor %}

		<span class="current">{{ postsNav.currentPage }}</span>

		{% for page, url in postsNav.getNextUrls(5) %}
		     <span><a href="{{ url }}">{{ page }}</a></span>
		{% endfor %}

		{% if postsNav.nextUrl %}<a href="{{ postsNav.nextUrl }}">&raquo;</a>{% endif %}
		<span><a href="{{ postsNav.lastUrl }}">&gt;</a></span>
	</div>
{% endif %}