{% extends '_layouts/site' %}

{% block main %}    
    {% cache unless not craft.config.cache %}
        <div class="page">
            <div class="page-section page-section--small row row--middle row--center row--nomargin">
                <div class="currentCode col--12 col--6sm">
                    <div class="page-currentCode page-currentCode--small row row--middle row--center row--nomargin">
                        <div class="col--12 col--7sm col--5md col--4lg">
                            {% include '_includes/current-code' %}
                        </div>
                    </div>
                </div>
                <div class="col--12 col--6sm">
                    <div class="page-textColumn page-textColumn--small row row--middle row--center row--nomargin">
                        <div class="col--7">
                            <div class="page-textColumn-header">
                                <h1>{{entry.title}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% set prevType = null %}
            {% set nextType = null %}

            {% for block in entry.pageContent %}
                {% set type = (nextType ?: block.type.handle) %}
                {% set nextType = (not loop.last ? block.next().type.handle) %}
                
                {% switch type %}

                    {% case 'blockBody' %}
                        <div class="page-textSection row row--center row--nomargin">
                            <div class="col--12 col--6sm">
                                <div class="page-textSection-body">
                                    {{block.body}}
                                    {% if block.showSocial %}
                                        <p><b>{{"Feel free to learn more about me through:"|t}}</b></p>
                                        {% set vars = {
                                            size: 'fa-2x'
                                        } %}
                                        {% include '_includes/social' with vars %}
                                    {% endif %}
                                    {% if block.showForm %}
                                        {% include '_includes/form' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% case 'blockHalfImages' %}
                        <div class="page-imagesSection row row--center row--nomargin">
                            {% for image in block.images %}
                                <div class="col--12 col--6sm">
                                    <div class="page-imagesSection-image">
                                        {{ macros.responsive_image(image, {transformMode: 'fit' }) }}
                                    </div>
                                </div> 
                            {% endfor %}
                        </div>

                    {% case 'blockFullImages' %}
                        <div class="page-imagesSection row row--center row--nomargin">
                            {% for image in block.images %}
                                <div class="col--12">
                                    {{ macros.responsive_image(image, {transformMode: 'fit' }) }}
                                </div> 
                            {% endfor %}
                        </div>

               {% endswitch %}
            {% endfor %}
            {% if entry.showResume %}
                <div class="page-resumeSection">
                    {% for section in entry.resumeSection %}
                        <div class="page-resumeSection-section row row--center row--nomargin">
                            <div class="col--3">
                                <p class="page-resumeSection-title">{{section.sectionTitle}}</p>
                            </div>
                            <div class="page-resumeSection-body col--6">
                                {{section.body}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endcache %}
{% endblock %}