{% extends '_layouts/site' %}

{% block main %}
    <div class="page">

        <div class="page-fullSection row row--nomargin">
            <div class="col--12 col--6sm">
                <div class="currentCode row row--middle row--center row--nomargin">
                    {# {% include '_includes/current-code' %} #}
                </div>
            </div>
            <div class="col--12 col--6sm">
                <div class="page-textColumn-full row row--middle row--center row--nomargin">
                    <div class="col--7">
                        <div class="page-textColumn-header">
                            <h1>{{"James Garrett"|t}}</h1>
                            <p>{{"Front End"|t}} <strong>{{"Developer"|t}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% cache unless not craft.config.cache %}
            {% for post in craft.entries.section('work') %}
                <div class="page-halfSection row row--nomargin">
                    <div class="col--12 col--6sm{%if loop.index is even %} col--lastsm{% endif %}">
                        <div class="page-textColumn-half row row--middle row--center row--nomargin">
                            <div class="col--7">
                                <div class="page-textColumn-header">
                                    <h1><a href="{{post.url}}">{{post.title}}</a></h1>
                                    <p>{{post.description}}</p>
                                </div>
                                <div class="page-textColumn-info">
                                    <p class="page-textColumn-tech"><strong>{{"Tech:"|t}}</strong> {{post.tech}}</p>
                                    <p><a href="{{post.url}}">{{"View Project"|t}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col--12 col--6sm{%if loop.index is even %} col--firstsm{% endif %}">
                        <div class="page-imageColumn page-imageColumn--{{macros.lowercase_replace_space(post.title)}} row row--middle row--center row--nomargin">
                            <div class="col--7">
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endcache %}

    </div>    
{% endblock %}
