{% extends '_layouts/site' %}

{% block main %}
    <div class="page">

        <div class="page-section page-section--full row row--middle row--center row--nomargin">
            <div class="currentCode col--12 col--6sm">
                <div class="page-currentCode page-currentCode--full row row--middle row--center row--nomargin">
                    <div class="col--12 col--7sm col--5md col--4lg">
                         {% include '_includes/current-code' %}
                    </div>
                </div>
            </div>
            <div class="col--12 col--6sm">
                <div class="page-textColumn page-textColumn--full row row--middle row--center row--nomargin">
                    <div class="col--7">
                        <div class="page-textColumn-header">
                            <h1>{{"James Garrett"|t}}</h1>
                            <p>{{"Front End"|t}} <strong>{{"Developer"|t}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% cache unless not craft.config.cache %}
            {% for post in craft.entries.section('work') %}
                <div class="page-section page-section--middle row row--nomargin">
                    <div class="col--12 col--6sm{%if loop.index is even %} col--lastsm{% endif %}">
                        <div class="page-textColumn page-textColumn--medium row row--middle row--center row--nomargin">
                            <div class="col--7">
                                <div class="page-textColumn-header">
                                    <h1><a href="{{post.url}}">{{post.title}}</a></h1>
                                    <p>{{post.description}}</p>
                                </div>
                                <div class="page-textColumn-info">
                                    <p class="page-textColumn-tech"><strong>{{"Tech:"|t}}</strong> {{post.tech}}</p>
                                    <p><a href="{{post.url}}">{{"View Project"|t}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col--12 col--6sm{%if loop.index is even %} col--firstsm{% endif %}">
                        <div class="page-imageColumn page-imageColumn--medium page-imageColumn--{{macros.lowercase_replace_space(post.title)}} row row--center row--middle row--nomargin">
                            <div class="col--12 col--8sm">
                                <div class="page-imageColumn-image">
                                    {% set image  = post.thumbnail.first() %}
                                    {% if image %}
                                        {{ macros.responsive_image(image, {transformMode: 'fit' }) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endcache %}

    </div>    
{% endblock %}
