{% extends '_layouts/site' %}

{% block main %}    
    {% cache unless not craft.config.cache %}
        <div class="page">
            <div class="page-section page-section--full row row--nomargin">
                <div class="col--12 col--6sm page-imageColumn-container">
                    <div class="page-imageColumn page-imageColumn--full page-imageColumn--{{macros.lowercase_replace_space(entry.title)}} row row--middle row--center row--nomargin">
                        <div class="col--12 col--8sm">
                            <div class="page-imageColumn-image">
                                {% set image  = entry.thumbnail.first() %}
                                {% if image %}
                                    {{ macros.responsive_image(image, {transformMode: 'fit' }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col--12 col--6sm">
                    <div class="page-textColumn page-textColumn--full row row--middle row--center row--nomargin">
                        <div class="col--7">
                            <div class="page-textColumn-header">
                                <h1>{{entry.title}}</h1>
                                <p>{{entry.description}}</p>
                            </div>
                            <div class="page-textColumn-info">
                                <p class="page-textColumn-tech"><strong>{{"Tech: "|t}}</strong>{{entry.tech}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% set prevType = null %}
            {% set nextType = null %}

            {% for block in entry.pageContent %}
                {% set type = (nextType ?: block.type.handle) %}
                {% set nextType = (not loop.last ? block.next().type.handle) %}
                
                {% switch type %}

                    {% case 'blockBody' %}
                        <div class="page-textSection row row--center row--nomargin">
                            <div class="col--10 col--6sm">
                                <div class="page-textSection-body">
                                    {{block.body}}
                                </div>
                            </div>
                        </div>

                    {% case 'blockHalfImages' %}
                        <div class="page-imagesSection row row--center row--nomargin">
                            {% for image in block.images %}
                                <div class="col--12 col--6sm page-imagesSection-container">
                                    <div class="page-imagesSection-image">
                                        {{ macros.responsive_image(image, {transformMode: 'fit' }) }}
                                    </div>
                                </div> 
                            {% endfor %}
                        </div>

                    {% case 'blockFullImages' %}
                        <div class="page-imagesSection row row--center row--nomargin">
                            {% for image in block.images %}
                                <div class="col--12">
                                    {{ macros.responsive_image(image, {transformMode: 'fit' }) }}
                                </div> 
                            {% endfor %}
                        </div>

               {% endswitch %}
            {% endfor %}
        </div>
    {% endcache %}
{% endblock %}
